// Dark shades
$darkest: #011940;
$dark: #21375A;
$medium: #6B7B96;
$light: #EDEFF3;

$blue-light: $light;
$blue-dark: $dark;
$dark-blue: $darkest;
$gray: mix($light,$medium);

$font-family: "MuseoSansRounded", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$pre-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-weights: (light: 200, normal: 400, bold: 600);
$font-size-large: 19px;
$font-size: 16px;
$font-size-small: 13px;
$line-height: 1.5;
$font-color: $blue-dark;

$border: $light;
$border-dark: #C9CFDD;

$blue-light: $light;

$blue: #2166CD;
$brown: #8E523D;
$purple: #7826A2;
$green: #09BA76;
$orange: #F35320;
$red: #D20325;
$yellow: #F8A221;
$cyan: #029B9B;

// Color list

$colors: (
  ("white", #fff),
  ("darkest", $darkest),
  ("dark", $dark),
  ("medium", $medium),
  ("light", $light),
  ("blue", $blue),
  ("purple", $purple),
  ("green", $green),
  ("orange", $orange),
  ("red", $red),
  ("yellow", $yellow),
  ("gray", $medium),
  ("brown", $brown),
  ("cyan", $cyan)
);

$br: 3px;

// Padding + borders
$padding: 20px;

$body-bg: $light;

// Code fonts
$code-color: #024966;
$pre-color:  #ecf0f2;

$navigation: (
  (
    class: "dashboard",
    icon: "fa-tachometer-alt",
    color: mix($dark,$purple),
    background: darken(mix($dark,$purple),5)
  ),
  (
    class: "host-usage",
    icon: "fa-hdd",
    color: $purple,
    background: darken($purple,5)
  ),
  (
    class: "hosts",
    icon: "fa-hdd",
    color: $purple,
    background: darken($purple,5)
  ),
  (
    class: "host-metrics",
    icon: "fa-microchip",
    color: $purple,
    background: darken($purple,5)
  ),
  (
    class: "metrics",
    icon: "fa-chart-area",
    color: $red,
    background: darken($red,5)
  ),
  (
    class: "workflow",
    icon: "fa-user",
    color: $blue,
    background: darken($blue,5)
  ),
  (
    class: "hosts-detail",
    icon: "fa-search-plus",
    color: $purple,
    background: darken($purple,5)
  ),
  (
    class: "deploys",
    icon: "fa-rocket",
    color: $yellow,
    background: darken($yellow,5)
  ),
  (
    class: "errors",
    icon: "fa-bug",
    color: $orange,
    background: darken($orange,5)
  ),
  (
    class: "performance",
    icon: "fa-rabbit-fast",
    color: $green,
    background: darken($green,5)
  ),
  (
    class: "actions",
    icon: "fa-bolt",
    color: $blue,
    background: darken($blue,5)
  ),
  (
    class: "jobs",
    icon: "fa-bolt",
    color: $blue,
    background: darken($blue,5)
  ),
  (
    class: "namespace-actions",
    icon: "fa-bolt",
    color: $blue,
    background: darken($blue,5)
  ),
  (
    class: "general",
    icon: "fa-cog",
    color: $medium,
    background: darken($medium,5)
  ),
  (
    class: "events",
    icon: "fa-turtle",
    color: $green,
    background: darken($green,5)
  ),
  (
    class: "teams-members",
    icon: "fa-user",
    color: $blue,
    background: darken($blue,5)
  ),
  (
    class: "integrations",
    icon: "fa-link",
    color: $medium,
    background: darken($medium,5)
  ),
  (
    class: "push-deploy",
    icon: "fa-code",
    color: $blue,
    background: darken($blue,5)
  ),
  (
    class: "snapshot",
    icon: "fa-camera",
    color: $cyan,
    background: darken($cyan,5)
  ),
  (
    class: "app",
    icon: "fa-cubes",
    color: $blue,
    background: darken($blue,5)
  ),
  (
    class: "notifications",
    icon: "fa-bell",
    color: $blue,
    background: darken($blue,5)
  ),
  (
    class: "alerting",
    icon: "fa-bell",
    color: $blue
  ),
  (
    class: "anomalies",
    icon: "fa-traffic-light",
    color: $blue
  ),
  (
    class: "referrals",
    icon: "fa-heart",
    color: $blue,
    background: darken($blue,5)
  )
);
