.o-flex {
  display: flex;
}

.o-inline-flex {
  display: inline-flex;
}

.o-flex,
.o-inline-flex {
  &--row {
    flex-direction: row;
  }

  &--row-reverse {
    flex-direction: row-reverse;
  }

  &--col {
    flex-direction: column;
  }

  &--col-reverse {
    flex-direction: column-reverse;
  }
}
