.o-grid-3-2-1 {
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.o-grid {
  display: grid;
  grid-gap: var(--spacing-grid-gutter);
  grid-template-columns: repeat(12, 1fr);
}
