.u-t-white {
  color: var(--color-white);
}

.u-t-grey-light {
  color: var(--color-grey-light);
}

.u-t-grey {
  color: var(--color-grey);
}

.u-t-grey-dark {
  color: var(--color-grey-dark);
}

.u-t-grey-darkest {
  color: var(--color-grey-darkest);
}

.u-t-green-light {
  color: var(--color-green-light);
}

.u-t-green-medium {
  color: var(--color-green-medium);
}

.u-t-green {
  color: var(--color-green);
}

.u-t-green-dark {
  color: var(--color-green-dark);
}

.u-t-pink {
  color: var(--color-pink);
}

.u-t-red {
  color: var(--color-red);
}

.u-t-orange {
  color: var(--color-orange);
}

.u-t-purple {
  color: var(--color-purple);
}

.u-t-blue {
  color: var(--color-blue);
}

.u-t-cyan {
  color: var(--color-cyan);
}

.u-t-brown {
  color: var(--color-brown);
}

.u-t-yellow {
  color: var(--color-yellow);
}

.u-t-primary {
  color: var(--color-green);
}
