.u-t {
  &--xs {
    font-size: var(--font-size-tiny);
  }

  &--sm {
    font-size: var(--font-size-small);
  }

  &--base {
    font-size: var(--font-size-normal);
  }

  &--md {
    font-size: var(--font-size-medium);
  }

  &--lg {
    font-size: var(--font-size-large);
  }

  &--xlg {
    font-size: var(--font-size-x-large);
  }

  &--xxlg {
    font-size: var(--font-size-xx-large);
  }

  &--xxxlg {
    font-size: var(--font-size-xxx-large);
  }
}
