.u-t-xs {
  font-size: var(--font-size-tiny);
}

.u-t-sm {
  font-size: var(--font-size-small);
}

.u-t-base {
  font-size: var(--font-size-normal);
}

.u-t-md {
  font-size: var(--font-size-medium);
}

.u-t-lg {
  font-size: var(--font-size-large);
}

.u-t-xlg {
  font-size: var(--font-size-x-large);
}

.u-t-xxlg {
  font-size: var(--font-size-xx-large);
}

.u-t-xxxlg {
  font-size: var(--font-size-xxx-large);
}
