h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.25rem;
  font-weight: 500;
  line-height: 1.25;
}

blockquote,
ol,
p,
ul {
  margin: 0 0 var(--spacing-normal);
  opacity: 0.8;
}

a {
  color: var(--color-grey-darkest);
}
