.c-button {
  display: inline-block;
  border: none;
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--color-brand-white);
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  user-select: none;

  &--rounded {
    border-radius: 50px;
  }

  &--lg {
    padding: 0.875rem 1.875rem 1.0625rem;
    font-size: var(--font-size-large);
    line-height: 29px;
  }

  &--md {
    padding: 0.5625rem 1.5rem 0.75rem;
    font-size: var(--font-size-medium);
    line-height: 24px;
  }

  &--sm {
    padding: 0.5rem 1.25rem;
    font-size: var(--font-size-normal);
    line-height: 19px;
  }

  &--primary {
    background-color: var(--color-brand-green);
  }

  &--primary:hover {
    background-color: var(--color-brand-green-dark);
  }

  &--subtle {
    background-color: var(--color-brand-green-light);
    color: var(--color-brand-green);
  }

  &--subtle:hover {
    background-color: var(--color-brand-green-medium);
    color: var(--color-brand-green-dark);
  }
}
