.c-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border-radius: var(--border-radius);
  color: var(--color-brand-white);
  border: none;
  font-weight: 500;

  &--rounded {
    border-radius: 50px;
  }

  &--l {
    padding: 0.875rem 1.875rem 1.0625rem;
    font-size: var(--font-size-large);
    line-height: 29px;
  }

  &--m {
    padding: 0.5625rem 1.5rem 0.75rem;
    font-size: var(--font-size-medium);
    line-height: 24px;
  }

  &--s {
    padding: 0.5rem 1.25rem;
    font-size: var(--font-size-normal);
    line-height: 19px;
  }

  &--primary {
    background: var(--color-brand-green);
  }

  &--primary:hover {
    background-color: var(--color-brand-green-dark);
  }

  &--secondary {
    color: var(--color-brand-green);
    background-color: var(--color-brand-green-light);
  }

  &--secondary:hover {
    color: var(--color-brand-green-dark);
    background-color: var(--color-brand-green-medium);
  }
}
