.c-navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    margin-right: 2rem;
  }

  &__link {
    display: block;
    color: var(--color-brand-dark);
    text-decoration: none;
  }

  &__link:hover {
    color: var(--color-brand-darkest);
  }
}
