.c-navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    @extend .u-pr-8;
  }

  &__link {
    @extend .u-t-grey-dark;

    display: block;
    text-decoration: none;
  }

  &__link:hover {
    @extend .u-t-grey-darkest;
  }
}
