.u-bg-white {
  background: var(--color-white);
}

.u-bg-grey-light {
  background: var(--color-grey-light);
}

.u-bg-grey {
  background: var(--color-grey);
}

.u-bg-grey-dark {
  background: var(--color-grey-dark);
}

.u-bg-grey-darkest {
  background: var(--color-grey-darkest);
}

.u-bg-green-light {
  background: var(--color-green-light);
}

.u-bg-green-medium {
  background: var(--color-green-medium);
}

.u-bg-green {
  background: var(--color-green);
}

.u-bg-green-dark {
  background: var(--color-green-dark);
}

.u-bg-pink {
  background: var(--color-pink);
}

.u-bg-red {
  background: var(--color-red);
}

.u-bg-orange {
  background: var(--color-orange);
}

.u-bg-purple {
  background: var(--color-purple);
}

.u-bg-blue {
  background: var(--color-blue);
}

.u-bg-cyan {
  background: var(--color-cyan);
}

.u-bg-brown {
  background: var(--color-brown);
}

.u-bg-yellow {
  background: var(--color-yellow);
}

.u-bg-primary {
  background: var(--color-green);
}
