@media (min-width: 75rem) {
  .u-1\/12\@xl {
    grid-column: span 1;
  }

  .u-2\/12\@xl {
    grid-column: span 2;
  }

  .u-3\/12\@xl {
    grid-column: span 3;
  }

  .u-4\/12\@xl {
    grid-column: span 4;
  }

  .u-5\/12\@xl {
    grid-column: span 5;
  }

  .u-6\/12\@xl {
    grid-column: span 6;
  }

  .u-7\/12\@xl {
    grid-column: span 7;
  }

  .u-8\/12\@xl {
    grid-column: span 8;
  }

  .u-9\/12\@xl {
    grid-column: span 9;
  }

  .u-10\/12\@xl {
    grid-column: span 10;
  }

  .u-11\/12\@xl {
    grid-column: span 11;
  }

  .u-12\/12\@xl {
    grid-column: span 12;
  }
}
