.u-align-content-start {
  align-content: start;
}

.u-align-content-end {
  align-content: end;
}

.u-align-content-center {
  align-content: center;
}

.u-align-content-stretch {
  align-content: stretch;
}

.u-align-content-space-around {
  align-content: space-around;
}

.u-align-content-space-between {
  align-content: space-between;
}

.u-align-content-space-evenly {
  align-content: space-evenly;
}

.u-justify-content-start {
  justify-content: start;
}

.u-justify-content-end {
  justify-content: end;
}

.u-justify-content-center {
  justify-content: center;
}

.u-justify-content-stretch {
  justify-content: stretch;
}

.u-justify-content-space-around {
  justify-content: space-around;
}

.u-justify-content-space-between {
  justify-content: space-between;
}

.u-justify-content-space-evenly {
  align-content: space-evenly;
}

.u-align-items-start {
  align-items: start;
}

.u-align-items-end {
  align-items: end;
}

.u-align-items-center {
  align-items: center;
}

.u-align-items-baseline {
  align-items: baseline;
}

.u-align-items-stretch {
  align-items: stretch;
}
