:root {
  --border-radius-small: 4px;
  --border-radius: 8px;
  --border-radius-large: 12px;
  --border-radius-circle: 50%;
  --color-border-separator: #c9cfdd;
  --color-border-dark: #c9cfdd;
  --color-border: #f5f6f9;

  /* Brand color white */
  --color-brand-white: #fff;

  /* Brand color grey light */
  --color-brand-grey-light: #f5f6f9;

  /* Brand color grey */
  --color-brand-grey: #c9cfdd;

  /* Brand color dark */
  --color-brand-dark: #6b7b96;

  /* Brand color darkest */
  --color-brand-darkest: #011940;

  /* Brand color green light */
  --color-brand-green-light: #cef1e4;

  /* Brand color green medium */
  --color-brand-green-medium: #9de3c8;

  /* Brand color green */
  --color-brand-green: #09ba76;

  /* Brand color green_dark */
  --color-brand-green-dark: #069961;

  /* Theme color Green */
  --color-theme-green: #09ba76;

  /* Theme color Pink */
  --color-theme-pink: #ff6a9c;

  /* Theme color Red */
  --color-theme-red: #d20325;

  /* Theme color Orange */
  --color-theme-orange: #f35320;

  /* Theme color purple */
  --color-theme-purple: #7826a2;

  /* Theme color Blue */
  --color-theme-blue: #2166cd;

  /* Theme color Cyan */
  --color-theme-cyan: #029b9b;

  /* Theme color brown */
  --color-theme-brown: #8e523d;

  /* Theme color Yellow */
  --color-theme-yellow: #f8a221;
  --font-size-tiny: 0.64rem;
  --font-size-small: 0.8rem;
  --font-size-root: 16px;
  --font-size-normal: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-x-large: 1.953rem;
  --font-size-xx-large: 2.441rem;
  --font-size-xxx-large: 3.052rem;
  --default: Museo Sans Rounded;
  --monospaced: Alma Mono;

  /* Grid gutter size */
  --spacing-grid-gutter: 24px;

  /* Grid outside margin */
  --spacing-grid-margin: 36px;

  /* Grid column size */
  --spacing-grid-column: 72px;

  /* For micro adjustments */
  --spacing-x-small: 2px;

  /* For micro adjustments */
  --spacing-small: 4px;

  /* For paddings in labels / inline stuff */
  --spacing-medium: 8px;

  /* Regular padding for compact tables and such */
  --spacing-normal: 16px;

  /* Padding for the inside of boxes */
  --spacing-large: 24px;

  /* Padding between elements and for boxes with larger font-sizes */
  --spacing-x-large: 36px;

  /* Larger padding for when bigger spacing is needed */
  --spacing-xx-large: 48px;

  /* Huge padding we can use for seperation of vertical sections */
  --spacing-xxx-large: 96px;
}
