:root {
  --border-radius-small: 3px;
  --border-radius: 5px;
  --border-radius-large: 8px;
  --border-radius-circle: 50%;
  --color-border-separator: #c9cfdd;
  --color-border-dark: #c9cfdd;
  --color-border: #f5f6f9;

  /* Brand color white */
  --color-brand-white: #fff;

  /* Brand color grey light */
  --color-brand-grey-light: #f5f6f9;

  /* Brand color grey */
  --color-brand-grey: #c9cfdd;

  /* Brand color dark */
  --color-brand-dark: #6b7b96;

  /* Brand color darkest */
  --color-brand-darkest: #011940;

  /* Brand color green light */
  --color-brand-green-light: #cef1e4;

  /* Brand color green medium */
  --color-brand-green-medium: #9de3c8;

  /* Brand color green */
  --color-brand-green: #09ba76;

  /* Brand color green_dark */
  --color-brand-green-dark: #069961;

  /* Theme color Green */
  --color-theme-green: #09ba76;

  /* Theme color Pink */
  --color-theme-pink: #ff6a9c;

  /* Theme color Red */
  --color-theme-red: #d20325;

  /* Theme color Orange */
  --color-theme-orange: #f35320;

  /* Theme color purple */
  --color-theme-purple: #7826a2;

  /* Theme color Blue */
  --color-theme-blue: #2166cd;

  /* Theme color Cyan */
  --color-theme-cyan: #029b9b;

  /* Theme color brown */
  --color-theme-brown: #8e523d;

  /* Theme color Yellow */
  --color-theme-yellow: #f8a221;
  --font-size-tiny: 0.625rem;
  --font-size-small: 0.875rem;
  --font-size-normal: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-x-large: 2.5rem;
  --font-size-xx-large: 3.125rem;
  --default: Museo Sans Rounded;
  --monospaced: Alma Mono;
  --spacing-x-small: 3px;
  --spacing-small: 5px;
  --spacing-medium: 10px;
  --spacing-normal: 20px;
  --spacing-large: 30px;
  --spacing-x-large: 40px;
}
