.u-m-1 {
  margin: var(--spacing-1);
}

.u-m-2 {
  margin: var(--spacing-2);
}

.u-m-3 {
  margin: var(--spacing-3);
}

.u-m-4 {
  margin: var(--spacing-4);
}

.u-m-5 {
  margin: var(--spacing-5);
}

.u-m,
.u-m-6 {
  margin: var(--spacing-6);
}

.u-m-7 {
  margin: var(--spacing-7);
}

.u-m-8 {
  margin: var(--spacing-8);
}

.u-m-9 {
  margin: var(--spacing-9);
}

.u-m-10 {
  margin: var(--spacing-10);
}

.u-m-11 {
  margin: var(--spacing-11);
}

.u-m-12 {
  margin: var(--spacing-12);
}

.u-m-13 {
  margin: var(--spacing-13);
}

.u-m-auto {
  margin: auto;
}

.u-nm-1 {
  margin: calc(var(--spacing-1) * -1);
}

.u-nm-2 {
  margin: calc(var(--spacing-2) * -1);
}

.u-nm-3 {
  margin: calc(var(--spacing-3) * -1);
}

.u-nm-4 {
  margin: calc(var(--spacing-4) * -1);
}

.u-nm-5 {
  margin: calc(var(--spacing-5) * -1);
}

.u-nm,
.u-nm-6 {
  margin: calc(var(--spacing-6) * -1);
}

.u-nm-7 {
  margin: calc(var(--spacing-7) * -1);
}

.u-nm-8 {
  margin: calc(var(--spacing-8) * -1);
}

.u-nm-9 {
  margin: calc(var(--spacing-9) * -1);
}

.u-nm-10 {
  margin: calc(var(--spacing-10) * -1);
}

.u-nm-11 {
  margin: calc(var(--spacing-11) * -1);
}

.u-nm-12 {
  margin: calc(var(--spacing-12) * -1);
}

.u-nm-13 {
  margin: calc(var(--spacing-13) * -1);
}

.u-my-1 {
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
}

.u-mx-1 {
  margin-right: var(--spacing-1);
  margin-left: var(--spacing-1);
}

.u-my-2 {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}

.u-mx-2 {
  margin-right: var(--spacing-2);
  margin-left: var(--spacing-2);
}

.u-my-3 {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
}

.u-mx-3 {
  margin-right: var(--spacing-3);
  margin-left: var(--spacing-3);
}

.u-my-4 {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}

.u-mx-4 {
  margin-right: var(--spacing-4);
  margin-left: var(--spacing-4);
}

.u-my-5 {
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-5);
}

.u-mx-5 {
  margin-right: var(--spacing-5);
  margin-left: var(--spacing-5);
}

.u-my,
.u-my-6 {
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-6);
}

.u-mx,
.u-mx-6 {
  margin-right: var(--spacing-6);
  margin-left: var(--spacing-6);
}

.u-my-7 {
  margin-top: var(--spacing-7);
  margin-bottom: var(--spacing-7);
}

.u-mx-7 {
  margin-right: var(--spacing-7);
  margin-left: var(--spacing-7);
}

.u-my-8 {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}

.u-mx-8 {
  margin-right: var(--spacing-8);
  margin-left: var(--spacing-8);
}

.u-my-9 {
  margin-top: var(--spacing-9);
  margin-bottom: var(--spacing-9);
}

.u-mx-9 {
  margin-right: var(--spacing-9);
  margin-left: var(--spacing-9);
}

.u-my-10 {
  margin-top: var(--spacing-10);
  margin-bottom: var(--spacing-10);
}

.u-mx-10 {
  margin-right: var(--spacing-10);
  margin-left: var(--spacing-10);
}

.u-my-11 {
  margin-top: var(--spacing-11);
  margin-bottom: var(--spacing-11);
}

.u-mx-11 {
  margin-right: var(--spacing-11);
  margin-left: var(--spacing-11);
}

.u-my-12 {
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-12);
}

.u-mx-12 {
  margin-right: var(--spacing-12);
  margin-left: var(--spacing-12);
}

.u-my-13 {
  margin-top: var(--spacing-13);
  margin-bottom: var(--spacing-13);
}

.u-mx-13 {
  margin-right: var(--spacing-13);
  margin-left: var(--spacing-13);
}

.u-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.u-mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.u-nmy-1 {
  margin-top: calc(var(--spacing-1) * -1);
  margin-bottom: calc(var(--spacing-1) * -1);
}

.u-nmx-1 {
  margin-right: calc(var(--spacing-1) * -1);
  margin-left: calc(var(--spacing-1) * -1);
}

.u-nmy-2 {
  margin-top: calc(var(--spacing-2) * -1);
  margin-bottom: calc(var(--spacing-2) * -1);
}

.u-nmx-2 {
  margin-right: calc(var(--spacing-2) * -1);
  margin-left: calc(var(--spacing-2) * -1);
}

.u-nmy-3 {
  margin-top: calc(var(--spacing-3) * -1);
  margin-bottom: calc(var(--spacing-3) * -1);
}

.u-nmx-3 {
  margin-right: calc(var(--spacing-3) * -1);
  margin-left: calc(var(--spacing-3) * -1);
}

.u-nmy-4 {
  margin-top: calc(var(--spacing-4) * -1);
  margin-bottom: calc(var(--spacing-4) * -1);
}

.u-nmx-4 {
  margin-right: calc(var(--spacing-4) * -1);
  margin-left: calc(var(--spacing-4) * -1);
}

.u-nmy-5 {
  margin-top: calc(var(--spacing-5) * -1);
  margin-bottom: calc(var(--spacing-5) * -1);
}

.u-nmx-5 {
  margin-right: calc(var(--spacing-5) * -1);
  margin-left: calc(var(--spacing-5) * -1);
}

.u-nmy,
.u-nmy-6 {
  margin-top: calc(var(--spacing-6) * -1);
  margin-bottom: calc(var(--spacing-6) * -1);
}

.u-nmx,
.u-nmx-6 {
  margin-right: calc(var(--spacing-6) * -1);
  margin-left: calc(var(--spacing-6) * -1);
}

.u-nmy-7 {
  margin-top: calc(var(--spacing-7) * -1);
  margin-bottom: calc(var(--spacing-7) * -1);
}

.u-nmx-7 {
  margin-right: calc(var(--spacing-7) * -1);
  margin-left: calc(var(--spacing-7) * -1);
}

.u-nmy-8 {
  margin-top: calc(var(--spacing-8) * -1);
  margin-bottom: calc(var(--spacing-8) * -1);
}

.u-nmx-8 {
  margin-right: calc(var(--spacing-8) * -1);
  margin-left: calc(var(--spacing-8) * -1);
}

.u-nmy-9 {
  margin-top: calc(var(--spacing-9) * -1);
  margin-bottom: calc(var(--spacing-9) * -1);
}

.u-nmx-9 {
  margin-right: calc(var(--spacing-9) * -1);
  margin-left: calc(var(--spacing-9) * -1);
}

.u-nmy-10 {
  margin-top: calc(var(--spacing-10) * -1);
  margin-bottom: calc(var(--spacing-10) * -1);
}

.u-nmx-10 {
  margin-right: calc(var(--spacing-10) * -1);
  margin-left: calc(var(--spacing-10) * -1);
}

.u-nmy-11 {
  margin-top: calc(var(--spacing-11) * -1);
  margin-bottom: calc(var(--spacing-11) * -1);
}

.u-nmx-11 {
  margin-right: calc(var(--spacing-11) * -1);
  margin-left: calc(var(--spacing-11) * -1);
}

.u-nmy-12 {
  margin-top: calc(var(--spacing-12) * -1);
  margin-bottom: calc(var(--spacing-12) * -1);
}

.u-nmx-12 {
  margin-right: calc(var(--spacing-12) * -1);
  margin-left: calc(var(--spacing-12) * -1);
}

.u-nmy-13 {
  margin-top: calc(var(--spacing-13) * -1);
  margin-bottom: calc(var(--spacing-13) * -1);
}

.u-nmx-13 {
  margin-right: calc(var(--spacing-13) * -1);
  margin-left: calc(var(--spacing-13) * -1);
}

.u-mt-1 {
  margin-top: var(--spacing-1);
}

.u-mr-1 {
  margin-right: var(--spacing-1);
}

.u-mb-1 {
  margin-bottom: var(--spacing-1);
}

.u-ml-1 {
  margin-left: var(--spacing-1);
}

.u-mt-2 {
  margin-top: var(--spacing-2);
}

.u-mr-2 {
  margin-right: var(--spacing-2);
}

.u-mb-2 {
  margin-bottom: var(--spacing-2);
}

.u-ml-2 {
  margin-left: var(--spacing-2);
}

.u-mt-3 {
  margin-top: var(--spacing-3);
}

.u-mr-3 {
  margin-right: var(--spacing-3);
}

.u-mb-3 {
  margin-bottom: var(--spacing-3);
}

.u-ml-3 {
  margin-left: var(--spacing-3);
}

.u-mt-4 {
  margin-top: var(--spacing-4);
}

.u-mr-4 {
  margin-right: var(--spacing-4);
}

.u-mb-4 {
  margin-bottom: var(--spacing-4);
}

.u-ml-4 {
  margin-left: var(--spacing-4);
}

.u-mt-5 {
  margin-top: var(--spacing-5);
}

.u-mr-5 {
  margin-right: var(--spacing-5);
}

.u-mb-5 {
  margin-bottom: var(--spacing-5);
}

.u-ml-5 {
  margin-left: var(--spacing-5);
}

.u-mt,
.u-mt-6 {
  margin-top: var(--spacing-6);
}

.u-mr,
.u-mr-6 {
  margin-right: var(--spacing-6);
}

.u-mb,
.u-mb-6 {
  margin-bottom: var(--spacing-6);
}

.u-ml,
.u-ml-6 {
  margin-left: var(--spacing-6);
}

.u-mt-7 {
  margin-top: var(--spacing-7);
}

.u-mr-7 {
  margin-right: var(--spacing-7);
}

.u-mb-7 {
  margin-bottom: var(--spacing-7);
}

.u-ml-7 {
  margin-left: var(--spacing-7);
}

.u-mt-8 {
  margin-top: var(--spacing-8);
}

.u-mr-8 {
  margin-right: var(--spacing-8);
}

.u-mb-8 {
  margin-bottom: var(--spacing-8);
}

.u-ml-8 {
  margin-left: var(--spacing-8);
}

.u-mt-9 {
  margin-top: var(--spacing-9);
}

.u-mr-9 {
  margin-right: var(--spacing-9);
}

.u-mb-9 {
  margin-bottom: var(--spacing-9);
}

.u-ml-9 {
  margin-left: var(--spacing-9);
}

.u-mt-10 {
  margin-top: var(--spacing-10);
}

.u-mr-10 {
  margin-right: var(--spacing-10);
}

.u-mb-10 {
  margin-bottom: var(--spacing-10);
}

.u-ml-10 {
  margin-left: var(--spacing-10);
}

.u-mt-11 {
  margin-top: var(--spacing-11);
}

.u-mr-11 {
  margin-right: var(--spacing-11);
}

.u-mb-11 {
  margin-bottom: var(--spacing-11);
}

.u-ml-11 {
  margin-left: var(--spacing-11);
}

.u-mt-12 {
  margin-top: var(--spacing-12);
}

.u-mr-12 {
  margin-right: var(--spacing-12);
}

.u-mb-12 {
  margin-bottom: var(--spacing-12);
}

.u-ml-12 {
  margin-left: var(--spacing-12);
}

.u-mt-13 {
  margin-top: var(--spacing-13);
}

.u-mr-13 {
  margin-right: var(--spacing-13);
}

.u-mb-13 {
  margin-bottom: var(--spacing-13);
}

.u-ml-13 {
  margin-left: var(--spacing-13);
}

.u-mt-auto {
  margin-top: auto;
}

.u-mr-auto {
  margin-right: auto;
}

.u-mb-auto {
  margin-bottom: auto;
}

.u-ml-auto {
  margin-left: auto;
}

.u-nmt-1 {
  margin-top: calc(var(--spacing-1) * -1);
}

.u-nmr-1 {
  margin-right: calc(var(--spacing-1) * -1);
}

.u-nmb-1 {
  margin-bottom: calc(var(--spacing-1) * -1);
}

.u-nml-1 {
  margin-left: calc(var(--spacing-1) * -1);
}

.u-nmt-2 {
  margin-top: calc(var(--spacing-2) * -1);
}

.u-nmr-2 {
  margin-right: calc(var(--spacing-2) * -1);
}

.u-nmb-2 {
  margin-bottom: calc(var(--spacing-2) * -1);
}

.u-nml-2 {
  margin-left: calc(var(--spacing-2) * -1);
}

.u-nmt-3 {
  margin-top: calc(var(--spacing-3) * -1);
}

.u-nmr-3 {
  margin-right: calc(var(--spacing-3) * -1);
}

.u-nmb-3 {
  margin-bottom: calc(var(--spacing-3) * -1);
}

.u-nml-3 {
  margin-left: calc(var(--spacing-3) * -1);
}

.u-nmt-4 {
  margin-top: calc(var(--spacing-4) * -1);
}

.u-nmr-4 {
  margin-right: calc(var(--spacing-4) * -1);
}

.u-nmb-4 {
  margin-bottom: calc(var(--spacing-4) * -1);
}

.u-nml-4 {
  margin-left: calc(var(--spacing-4) * -1);
}

.u-nmt-5 {
  margin-top: calc(var(--spacing-5) * -1);
}

.u-nmr-5 {
  margin-right: calc(var(--spacing-5) * -1);
}

.u-nmb-5 {
  margin-bottom: calc(var(--spacing-5) * -1);
}

.u-nml-5 {
  margin-left: calc(var(--spacing-5) * -1);
}

.u-nmt,
.u-nmt-6 {
  margin-top: calc(var(--spacing-6) * -1);
}

.u-nmr,
.u-nmr-6 {
  margin-right: calc(var(--spacing-6) * -1);
}

.u-nmb,
.u-nmb-6 {
  margin-bottom: calc(var(--spacing-6) * -1);
}

.u-nml,
.u-nml-6 {
  margin-left: calc(var(--spacing-6) * -1);
}

.u-nmt-7 {
  margin-top: calc(var(--spacing-7) * -1);
}

.u-nmr-7 {
  margin-right: calc(var(--spacing-7) * -1);
}

.u-nmb-7 {
  margin-bottom: calc(var(--spacing-7) * -1);
}

.u-nml-7 {
  margin-left: calc(var(--spacing-7) * -1);
}

.u-nmt-8 {
  margin-top: calc(var(--spacing-8) * -1);
}

.u-nmr-8 {
  margin-right: calc(var(--spacing-8) * -1);
}

.u-nmb-8 {
  margin-bottom: calc(var(--spacing-8) * -1);
}

.u-nml-8 {
  margin-left: calc(var(--spacing-8) * -1);
}

.u-nmt-9 {
  margin-top: calc(var(--spacing-9) * -1);
}

.u-nmr-9 {
  margin-right: calc(var(--spacing-9) * -1);
}

.u-nmb-9 {
  margin-bottom: calc(var(--spacing-9) * -1);
}

.u-nml-9 {
  margin-left: calc(var(--spacing-9) * -1);
}

.u-nmt-10 {
  margin-top: calc(var(--spacing-10) * -1);
}

.u-nmr-10 {
  margin-right: calc(var(--spacing-10) * -1);
}

.u-nmb-10 {
  margin-bottom: calc(var(--spacing-10) * -1);
}

.u-nml-10 {
  margin-left: calc(var(--spacing-10) * -1);
}

.u-nmt-11 {
  margin-top: calc(var(--spacing-11) * -1);
}

.u-nmr-11 {
  margin-right: calc(var(--spacing-11) * -1);
}

.u-nmb-11 {
  margin-bottom: calc(var(--spacing-11) * -1);
}

.u-nml-11 {
  margin-left: calc(var(--spacing-11) * -1);
}

.u-nmt-12 {
  margin-top: calc(var(--spacing-12) * -1);
}

.u-nmr-12 {
  margin-right: calc(var(--spacing-12) * -1);
}

.u-nmb-12 {
  margin-bottom: calc(var(--spacing-12) * -1);
}

.u-nml-12 {
  margin-left: calc(var(--spacing-12) * -1);
}

.u-nmt-13 {
  margin-top: calc(var(--spacing-13) * -1);
}

.u-nmr-13 {
  margin-right: calc(var(--spacing-13) * -1);
}

.u-nmb-13 {
  margin-bottom: calc(var(--spacing-13) * -1);
}

.u-nml-13 {
  margin-left: calc(var(--spacing-13) * -1);
}
