.u-m--auto {
  margin: auto;
}

.u-m--xxsm {
  margin: var(--spacing-xx-small);
}

.u-m--xsm {
  margin: var(--spacing-x-small);
}

.u-m--sm {
  margin: var(--spacing-small);
}

.u-m--base {
  margin: var(--spacing-normal);
}

.u-m--md {
  margin: var(--spacing-medium);
}

.u-m--lg {
  margin: var(--spacing-large);
}

.u-m--xlg {
  margin: var(--spacing-x-large);
}

.u-m--xxlg {
  margin: var(--spacing-xx-large);
}

.u-m--xxxlg {
  margin: var(--spacing-xxx-large);
}

.u-my--auto {
  margin-top: auto;
  margin-bottom: auto;
}

.u-mx--auto {
  margin-right: auto;
  margin-left: auto;
}

.u-my--xxsm {
  margin-top: var(--spacing-xx-small);
  margin-bottom: var(--spacing-xx-small);
}

.u-mx--xxsm {
  margin-right: var(--spacing-xx-small);
  margin-left: var(--spacing-xx-small);
}

.u-my--xsm {
  margin-top: var(--spacing-x-small);
  margin-bottom: var(--spacing-x-small);
}

.u-mx--xsm {
  margin-right: var(--spacing-x-small);
  margin-left: var(--spacing-x-small);
}

.u-my--sm {
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}

.u-mx--sm {
  margin-right: var(--spacing-small);
  margin-left: var(--spacing-small);
}

.u-my--base {
  margin-top: var(--spacing-normal);
  margin-bottom: var(--spacing-normal);
}

.u-mx--base {
  margin-right: var(--spacing-normal);
  margin-left: var(--spacing-normal);
}

.u-my--md {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}

.u-mx--md {
  margin-right: var(--spacing-medium);
  margin-left: var(--spacing-medium);
}

.u-my--lg {
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-large);
}

.u-mx--lg {
  margin-right: var(--spacing-large);
  margin-left: var(--spacing-large);
}

.u-my--xlg {
  margin-top: var(--spacing-x-large);
  margin-bottom: var(--spacing-x-large);
}

.u-mx--xlg {
  margin-right: var(--spacing-x-large);
  margin-left: var(--spacing-x-large);
}

.u-my--xxlg {
  margin-top: var(--spacing-xx-large);
  margin-bottom: var(--spacing-xx-large);
}

.u-mx--xxlg {
  margin-right: var(--spacing-xx-large);
  margin-left: var(--spacing-xx-large);
}

.u-my--xxxlg {
  margin-top: var(--spacing-xxx-large);
  margin-bottom: var(--spacing-xxx-large);
}

.u-mx--xxxlg {
  margin-right: var(--spacing-xxx-large);
  margin-left: var(--spacing-xxx-large);
}

.u-mt--auto {
  margin-top: auto;
}

.u-mr--auto {
  margin-right: auto;
}

.u-mb--auto {
  margin-bottom: auto;
}

.u-ml--auto {
  margin-left: auto;
}

.u-mt--xxsm {
  margin-top: var(--spacing-xx-small);
}

.u-mr--xxsm {
  margin-right: var(--spacing-xx-small);
}

.u-mb--xxsm {
  margin-bottom: var(--spacing-xx-small);
}

.u-ml--xxsm {
  margin-left: var(--spacing-xx-small);
}

.u-mt--xsm {
  margin-top: var(--spacing-x-small);
}

.u-mr--xsm {
  margin-right: var(--spacing-x-small);
}

.u-mb--xsm {
  margin-bottom: var(--spacing-x-small);
}

.u-ml--xsm {
  margin-left: var(--spacing-x-small);
}

.u-mt--sm {
  margin-top: var(--spacing-small);
}

.u-mr--sm {
  margin-right: var(--spacing-small);
}

.u-mb--sm {
  margin-bottom: var(--spacing-small);
}

.u-ml--sm {
  margin-left: var(--spacing-small);
}

.u-mt--base {
  margin-top: var(--spacing-normal);
}

.u-mr--base {
  margin-right: var(--spacing-normal);
}

.u-mb--base {
  margin-bottom: var(--spacing-normal);
}

.u-ml--base {
  margin-left: var(--spacing-normal);
}

.u-mt--md {
  margin-top: var(--spacing-medium);
}

.u-mr--md {
  margin-right: var(--spacing-medium);
}

.u-mb--md {
  margin-bottom: var(--spacing-medium);
}

.u-ml--md {
  margin-left: var(--spacing-medium);
}

.u-mt--lg {
  margin-top: var(--spacing-large);
}

.u-mr--lg {
  margin-right: var(--spacing-large);
}

.u-mb--lg {
  margin-bottom: var(--spacing-large);
}

.u-ml--lg {
  margin-left: var(--spacing-large);
}

.u-mt--xlg {
  margin-top: var(--spacing-x-large);
}

.u-mr--xlg {
  margin-right: var(--spacing-x-large);
}

.u-mb--xlg {
  margin-bottom: var(--spacing-x-large);
}

.u-ml--xlg {
  margin-left: var(--spacing-x-large);
}

.u-mt--xxlg {
  margin-top: var(--spacing-xx-large);
}

.u-mr--xxlg {
  margin-right: var(--spacing-xx-large);
}

.u-mb--xxlg {
  margin-bottom: var(--spacing-xx-large);
}

.u-ml--xxlg {
  margin-left: var(--spacing-xx-large);
}

.u-mt--xxxlg {
  margin-top: var(--spacing-xxx-large);
}

.u-mr--xxxlg {
  margin-right: var(--spacing-xxx-large);
}

.u-mb--xxxlg {
  margin-bottom: var(--spacing-xxx-large);
}

.u-ml--xxxlg {
  margin-left: var(--spacing-xxx-large);
}
